src/resources/wadl/rax-cloudLoadBalancers-api-v1.wadl

<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;  
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://syd.loadbalancers.api.rackspacecloud.com">
        <resource id="versions" path="v1.0">
            <resource id="account" path="{account}">
                <param name="account" style="template" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The tenant ID.</para>
                    </wadl:doc>
                </param>
                <resource id="loadbalancers" path="loadbalancers">
                    <param name="container" style="template"
                        type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                            <para>The unique identifier of the
                                container.</para>
                        </wadl:doc>
                    </param>
                    <method href="#listLoadBalancers"/>
                    <method href="#createLoadBalancer"/>
                    <method href="#bulkDeleteLoadBalancer"/>
                    <resource id="loadBalancerId"
                        path="{loadBalancerId}">
                        <param style="template" type="xsd:string"
                            required="true" name="loadBalancerId">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                   ><para>The ID for the load
                                   balancer.</para></wadl:doc>
                        </param>
                        <method href="#showLoadBalancer"/>
                        <method href="#updateLoadBalancer"/>
                        <method href="#deleteLoadBalancer"/>
                    </resource>
                    <resource id="errorpage" path="errorpage">
                        <method href="#showErrorPage"/>
                        <method href="#setErrorPage"/>
                        <method href="#deleteErrorPage"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method id="listLoadBalancers" name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List load balancers">
            <para role="shortdesc">Lists load balancers that are
                configured for the account.</para>
            <para>A limited set of load balancer attributes including
                the following are returned in the response
                object:</para>
            <itemizedlist xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                spacing="compact">
                <listitem>
                    <para>
                        <code>name</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>id</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>status</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>created</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>updated</code></para>
                </listitem>
            </itemizedlist>
            <para>List load balancer example responses are shown
                below:</para>
            <para>A <emphasis>changes-since</emphasis> query parameter
                is supported that lists all load balancers that have
                changed since the specified date/time. For example,
                using the URI
                    <code>/loadbalancers?changes-since=2011-05-19T08:07:08-0500</code>
                lists all load balancers that have changed since May
                19th, 2011 at 8:07:08 AM, GMT-5. See <xref
                    linkend="Date_Time_Format"/> for information about
                specifying the date/time.</para>
            <para>To view deleted load balancers, add the query
                parameter <code>?status=DELETED</code> to the end of
                the URI. A deleted load balancer is immutable and
                irrecoverable.</para>
            <para>To find out if any load balancer for an account has
                a specific <glossterm>node</glossterm> attached to it,
                use the query parameter
                    <emphasis>nodeaddress</emphasis> to specify the IP
                address or domain name for the desired node. For
                example, using the URI
                    <code>/loadbalancers?nodeaddress=10.1.1.1</code>
                will search all load balancers for the account for a
                node with IP address 10.1.1.1, and return a list
                including the id, name, and status of all load
                balancers attached:</para>
        </wadl:doc>
    </method>
    <method id="showLoadBalancer" name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show load balancer details">
            <para role="shortdesc">Shows details for a specified load
                balancer.</para>
            <para>This operation provides detailed output for a
                specific load balancer configured and associated with
                your account. This operation is not capable of
                returning details for a load balancer which has been
                deleted.</para>
            <para>Notice in the following examples that API users are
                now able to programmatically derive the source IP
                addresses of our load balancers using the
                    <code>sourceAddresses</code> label included at the
                bottom of the list load balancer details response.
                This feature is useful for customers who are
                automating the deployment of infrastructure and need
                to determine the IP addresses of requests coming from
                our load balancers for the purpose of creating more
                robust firewall rules.</para>
        </wadl:doc>
    </method>
    <method id="createLoadBalancer" name="POST">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create load balancer">
            <para role="shortdesc">Creates a load balancer with the
                configuration defined by the request.</para>
            <para>This operation asynchronously provisions a new load
                balancer based on the configuration defined in the
                request object. Once the request is validated and
                progress has started on the provisioning process, a
                response object will be returned. The object will
                contain a unique identifier and status of the request.
                Using the identifier, the caller can check on the
                progress of the operation by performing a
                    <command>GET</command> on
                    <code>loadbalancers/id</code>. If the
                corresponding request cannot be fulfilled due to
                insufficient or invalid data, an <code>HTTP</code>
                <returnvalue>400 (Bad Request)</returnvalue> error
                response will be returned with information regarding
                the nature of the failure in the body of the response.
                Failures in the validation process are non-recoverable
                and require the caller to correct the cause of the
                failure and <command>POST</command> the request
                again.</para>
            <para>An HTTP load balancer will have the X-Forwarded-For
                (XFF) HTTP header set by default. This header will
                contain the actual originating IP address of a client
                connecting to a web server through an HTTP proxy or
                load balancer, which many web applications are already
                designed to use when determining the source address
                for a request. (This header is also included on the
                Modify Load Balancer request if the protocol changes
                to reenable it.)</para>
            <para>An HTTP load balancer will also include the
                X-Forwarded-Proto (XFP) HTTP header, which has been
                added for identifying the originating protocol of an
                HTTP request as "http" or "https" depending on what
                protocol the client requested. This is specially
                useful when using SSL termination (See <xref
                    linkend="SSLTermination-d1e2479"/>).</para>
            <para>An HTTP load balancer will also include the
                X-Forwarded-Port HTTP header, which has been added for
                being able to generate secure URLs containing the
                specified port. This header, along with the
                X-Forwarded-For header, provide the needed information
                to the underlying application servers.</para>
            <para>The following table lists the required and optional
                attributes for Create Load Balancer:</para>
            <table xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude" rules="all">
                <caption>Required and optional attributes</caption>
                <thead>
                    <tr>
                        <td colspan="1">Name </td>
                        <td colspan="3">Description</td>
                        <td colspan="1">Required</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">name</td>
                        <td colspan="3">Name of the load balancer to
                            create. The name must be 128 characters or
                            less in length, and all UTF-8 characters
                            are valid. See <link
                                xlink:href="http://www.utf8-chartable.de/"
                                > http://www.utf8-chartable.de/</link>
                            for information about the UTF-8 character
                            set. See the request examples in this
                            section for the required xml/json
                            format.</td>
                        <td colspan="1">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="1">nodes</td>
                        <td colspan="3">Nodes to be added to the load
                            balancer. See the request examples in this
                            section for the required xml/json
                            format.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">protocol</td>
                        <td colspan="3">Protocol of the service which
                            is being load balanced. See <xref
                                linkend="Protocols-d1e4264"/> for a
                            table of available protocols.</td>
                        <td colspan="1">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="1">halfClosed</td>
                        <td colspan="3">Enables or disables
                            Half-Closed support for the load balancer.
                            Half-Closed support provides the ability
                            for one end of the connection to terminate
                            its output, while still receiving data
                            from the other end. Only available for
                            TCP/TCP_CLIENT_FIRST protocols.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">virtualIps</td>
                        <td colspan="3">Type of virtualIp to add along
                            with the creation of a load balancer. See
                            the Virtual IP Types table below for the
                            Virtual IP Types.</td>
                        <td colspan="1">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="1">accessList</td>
                        <td colspan="3">The access list management
                            feature allows fine-grained network access
                            controls to be applied to the load
                            balancer's virtual IP address. See the
                            request examples in <xref
                                linkend="Access_Lists-d1e3160"/> for
                            the required XML and JSON formats.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">algorithm</td>
                        <td colspan="3">Algorithm that defines how
                            traffic should be directed between
                            back-end nodes. See the request examples
                            in <xref linkend="Algorithms-d1e4367"/>
                            for the required XML and JSON
                            formats.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">connectionLogging</td>
                        <td colspan="3">Current connection logging
                            configuration. See the request examples in
                                <xref
                                linkend="Log_Connections-d1e3924"/>
                            for the required XML and JSON
                            formats.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">connectionThrottle</td>
                        <td colspan="3">Specifies limits on the number
                            of connections per IP address to help
                            mitigate malicious or abusive traffic to
                            your applications. See the request
                            examples in <xref
                                linkend="Throttle_Connections-d1e4057"
                            /> for the required XML and JSON
                            formats.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">healthMonitor</td>
                        <td colspan="3">The type of health monitor
                            check to perform to ensure that the
                            service is performing properly. See the
                            request examples in <xref
                                linkend="Monitor_Health-d1e3434"/> for
                            the required XML and JSON formats.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">metadata</td>
                        <td colspan="3">Information (metadata) that
                            can be associated with each load balancer
                            for the client's personal use. See the
                            request examples in <xref
                                linkend="Add_Metadata-d1e2379"/> for
                            the required XML and JSON formats.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">port</td>
                        <td colspan="3">Port number for the service
                            you are load balancing.</td>
                        <td colspan="1">See Notes below table</td>
                    </tr>
                    <tr>
                        <td colspan="1">timeout</td>
                        <td colspan="3">The timeout value for the load
                            balancer and communications with its
                            nodes. Defaults to 30 seconds with a
                            maximum of 120 seconds. </td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">sessionPersistence</td>
                        <td colspan="3">Specifies whether multiple
                            requests from clients are directed to the
                            same node. See the request examples in
                                <xref
                                linkend="Manage_Session_Persistence-d1e3733"
                            /> for the required XML and JSON
                            formats.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">httpsRedirect</td>
                        <td colspan="3">Enables or disables HTTP to
                            HTTPS redirection for the load balancer.
                            When enabled, any HTTP request will return
                            status code 301 (Moved Permanently), and
                            the requestor will be redirected to the
                            requested URL via the HTTPS protocol on
                            port 443. For example, <link
                                xlink:href="http://example.com/page.html"
                                >http://example.com/page.html</link>
                            would be redirected to <link
                                xlink:href="https://example.com/page.html"
                                >https://example.com/page.html</link>.
                            Only available for HTTPS protocol
                                (<code>port=443</code>), or HTTP
                            Protocol with a properly configured SSL
                            Termination
                                (<code>secureTrafficOnly=true</code>,
                                <code>securePort=443</code>); See
                                <xref linkend="SSLTermination-d1e2479"
                            />.</td>
                        <td colspan="1">No</td>
                    </tr>
                </tbody>
            </table>
            <note xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude">
                <title>Notes</title>
                <itemizedlist>
                    <listitem>
                        <para>Users may configure all documented
                            features of the load balancer at creation
                            time by simply providing the additional
                            elements or attributes in the request.
                            This document provides an overview of all
                            the features the load balancing service
                            supports.</para>
                    </listitem>
                    <listitem>
                        <para>Any protocol that is not listed in the
                            List Load Balancing Protocols Response
                            (see <xref
                                linkend="List_Load_Balancing_Protocols-d1e4269"
                            />), or is in the list but port=0,
                            requires port to be set. For example the
                            TCP protocol is in the list, however it
                            specifies port as 0 (<code>&lt;protocol
                                name="TCP" port="0" /&gt;</code>),
                            therefore it requires port to be
                            set.</para>
                    </listitem>
                </itemizedlist>
            </note>
            <para>You must specify the type of virtualIp to add along
                with the creation of a load balancer. The following
                table describes the options.</para>
            <table xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude" rules="all"
                xml:id="table_virtual_ip_types">
                <caption>Virtual IP types</caption>
                <thead align="center">
                    <tr>
                        <td>Version</td>
                        <td>Type</td>
                        <td>Outcome</td>
                    </tr>
                </thead>
                <tbody>
                    <tr align="left">
                        <td>Not Specified</td>
                        <td>PUBLIC</td>
                        <td>IPV4 &amp; IPV6</td>
                    </tr>
                    <tr align="left">
                        <td>IPV4</td>
                        <td>PUBLIC</td>
                        <td>IPV4</td>
                    </tr>
                    <tr align="left">
                        <td>IPV6</td>
                        <td>PUBLIC</td>
                        <td>IPV6</td>
                    </tr>
                    <tr align="left">
                        <td>Not Specified</td>
                        <td>SERVICENET</td>
                        <td>IPV4</td>
                    </tr>
                    <tr align="left">
                        <td>IPV4</td>
                        <td>SERVICENET</td>
                        <td>IPV4</td>
                    </tr>
                    <tr align="left">
                        <td>IPV6</td>
                        <td>SERVICENET</td>
                        <td>Failure Message</td>
                    </tr>
                </tbody>
            </table>
            <para>Notice in the following examples that API users are
                now able to programmatically derive the source IP
                addresses of our load balancers using the
                    <code>sourceAddresses</code> label included at the
                bottom of the create load balancer (required
                attributes) response. This feature is useful for
                customers who are automating the deployment of
                infrastructure and need to determine the IP addresses
                of requests coming from our load balancers for the
                purpose of creating more robust firewall rules.</para>
            <para>To conserve IPv4 address space, Rackspace highly
                recommends sharing Virtual IPs between your load
                balancers. If you have at least one load balancer, you
                may create subsequent load balancers that share a
                single virtual IPv4 and/or a single IPv6 by issuing a
                    <command>POST</command> and supplying a virtual IP
                ID instead of a type. Additionally, this feature is
                highly desirable if you wish to load balance both an
                unsecured and secure protocol using one IP or DNS
                name. For example, this method makes it possible to
                use the same load balancing configuration to support
                    <code>HTTP</code> and <code>HTTPS</code>.</para>
            <note xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude">
                <title>Notes</title>
                <itemizedlist>
                    <listitem>
                        <para>Load balancers sharing a Virtual IP
                                <emphasis>must</emphasis> utilize a
                            unique port. Also, to share both an IPv4
                            as well as an IPv6, you must supply an
                            extra <code>virtualIp</code> object to the
                                <code>virtualIps</code> container with
                            the desired <code>ID</code> being
                            shared.</para>
                    </listitem>
                    <listitem>
                        <para>In addition, load balancers sharing
                            Virtual IPs can utilize certain compatible
                            TCP/UDP and DNS based protocols on the
                            same port. Please see <xref
                                linkend="Compatible_Load_Balancing_Protocols-d1e4269"
                            /> for more details.</para>
                    </listitem>
                </itemizedlist>
            </note>
        </wadl:doc>
    </method>
    <method id="updateLoadBalancer" name="PUT">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update load balancer properties">
            <para role="shortdesc">Updates the properties for a
                specified load balancer.</para>
            <para>This operation asynchronously updates the attributes
                for a specified load balancer. Upon successful
                validation of the request, the service will return a
                    <returnvalue>202 (Accepted)</returnvalue> response
                code. A caller can poll the load balancer with its ID
                to wait for the changes to be applied and the load
                balancer to return to an <code>ACTIVE</code>
                status.</para>
            <para>This operation allows the caller to change one or
                more of the following attributes:</para>
            <itemizedlist xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                spacing="compact">
                <listitem>
                    <para>
                        <code>name</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>algorithm</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>halfClosed</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>port</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>timeout</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>httpsRedirect</code></para>
                </listitem>
            </itemizedlist>
            <para>This operation does not return a response
                body.</para>
            <note xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude">
                <para>The load balancer's ID and status are immutable
                    attributes and cannot be modified by the caller.
                    Supplying an unsupported attribute will result in
                    a <returnvalue>400 (badRequest)</returnvalue>
                    fault.</para>
            </note>
            <para>The following table lists the required and optional
                attributes for Update Load Balancer Attributes:</para>
            <table xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude" rules="all">
                <caption>Required and optional attributes</caption>
                <thead>
                    <tr>
                        <td colspan="1">Name </td>
                        <td colspan="3">Description</td>
                        <td colspan="1">Required</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">name</td>
                        <td colspan="3">Name of the load balancer to
                            create. The name must be 128 characters or
                            less in length, and all UTF-8 characters
                            are valid. See <link
                                xlink:href="http://www.utf8-chartable.de/"
                                > http://www.utf8-chartable.de/</link>
                            for information about the UTF-8 character
                            set. See the request examples in this
                            section for the required xml/json
                            format.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">protocol</td>
                        <td colspan="3">Protocol of the service which
                            is being load balanced. See <xref
                                linkend="Protocols-d1e4264"/> for a
                            table of available protocols.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">halfClosed</td>
                        <td colspan="3">Enable or Disable Half-Closed
                            support for the load balancer.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">algorithm</td>
                        <td colspan="3">Algorithm that defines how
                            traffic should be directed between
                            back-end nodes. See the request examples
                            in <xref linkend="Algorithms-d1e4367"/>
                            for the required XML and JSON
                            formats.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">port</td>
                        <td colspan="3">Port number for the service
                            you are load balancing.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">timeout</td>
                        <td colspan="3">The timeout value for the load
                            balancer and communications with its
                            nodes. Defaults to 30 seconds with a max
                            120 seconds.</td>
                        <td colspan="1">No</td>
                    </tr>
                    <tr>
                        <td colspan="1">httpsRedirect</td>
                        <td colspan="3">Enables or disables HTTP to
                            HTTPS redirection for the load balancer.
                            When enabled, any HTTP request will return
                            status code 301 (Moved Permanently), and
                            the requestor will be redirected to the
                            requested URL via the HTTPS protocol on
                            port 443. For example, <link
                                xlink:href="http://example.com/page.html"
                                >http://example.com/page.html</link>
                            would be redirected to <link
                                xlink:href="https://example.com/page.html"
                                >https://example.com/page.html</link>.
                            Only available for HTTPS protocol
                                (<code>port=443</code>), or HTTP
                            Protocol with a properly configured SSL
                            Termination
                                (<code>secureTrafficOnly=true</code>,
                                <code>securePort=443</code>).</td>
                        <td colspan="1">No</td>
                    </tr>
                </tbody>
            </table>
            <para>All load balancers also have a status attribute to
                signify the current configuration status of the
                device. This status is immutable by the caller and is
                updated automatically based on state changes within
                the service. When a load balancer is first created, it
                will be placed into a <code>BUILD</code> status while
                the configuration is being generated and applied based
                on the request. Once the configuration is applied and
                finalized, it will be in an <code>ACTIVE</code>
                status. In the event of a configuration change or
                update, the status of the load balancer will change to
                    <code>PENDING_UPDATE</code> to signify
                configuration changes are in progress but have not yet
                been finalized. Load balancers in a
                    <code>SUSPENDED</code> status are configured to
                reject traffic and will not forward requests to
                back-end nodes.</para>
            <table xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude" rules="all">
                <caption>Load balancer statuses</caption>
                <thead>
                    <tr align="center">
                        <td colspan="1">Name</td>
                        <td colspan="3">Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr align="left">
                        <td colspan="1">
                            <code>ACTIVE</code>
                        </td>
                        <td colspan="3"> Load balancer is configured
                            properly and ready to serve traffic to
                            incoming requests via the configured
                            virtual IPs. </td>
                    </tr>
                    <tr align="left">
                        <td colspan="1">
                            <code>BUILD</code>
                        </td>
                        <td colspan="3"> Load balancer is being
                            provisioned for the first time and
                            configuration is being applied to bring
                            the service online. The service will not
                            yet be ready to serve incoming requests.
                        </td>
                    </tr>
                    <tr align="left">
                        <td colspan="1">
                            <code>PENDING_UPDATE</code>
                        </td>
                        <td colspan="3">Load balancer is online but
                            configuration changes are being applied to
                            update the service based on a previous
                            request. </td>
                    </tr>
                    <tr align="left">
                        <td colspan="1">
                            <code>PENDING_DELETE</code>
                        </td>
                        <td colspan="3">Load balancer is online but
                            configuration changes are being applied to
                            begin deletion of the service based on a
                            previous request. </td>
                    </tr>
                    <tr align="left">
                        <td colspan="1">
                            <code>SUSPENDED</code>
                        </td>
                        <td colspan="3"> Load balancer has been taken
                            offline and disabled; contact Support.
                        </td>
                    </tr>
                    <tr align="left">
                        <td colspan="1">
                            <code>ERROR</code>
                        </td>
                        <td colspan="3"> The system encountered an
                            error when attempting to configure the
                            load balancer; contact Support. </td>
                    </tr>
                    <tr align="left">
                        <td colspan="1">
                            <code>DELETED</code>
                        </td>
                        <td colspan="3">Load balancers in
                                <code>DELETED</code> status can be
                            displayed for at least 90 days after
                            deletion. </td>
                    </tr>
                </tbody>
            </table>
        </wadl:doc>
    </method>
    <method id="deleteLoadBalancer" name="DELETE">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete load balancer">
            <para role="shortdesc">Deletes a load balancer from the
                account.</para>
            <para>The remove load balancer function removes the
                specified load balancer and its associated
                configuration from the account. Any and all
                configuration data is immediately purged and is not
                recoverable.</para>
            <para>To bulk-delete load balancers, provide a query
                parameter list of load balancer ids. For example:
                    /loadbalancers?id=<parameter>loadBalancerId</parameter>&amp;id=
                    <parameter>loadBalancerId</parameter> The current
                default limit is ten ids per request. Any and all
                configuration data is immediately purged and is not
                recoverable. By chance one of the items in the list
                cannot be removed due to its current status a
                400:BadRequest is returned along with the ids of the
                ones the system identified as potential failures for
                this request.</para>
            <para>This operation does not return a response
                body.</para>
        </wadl:doc>
    </method>
    <method id="bulkDeleteLoadBalancer" name="DELETE">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete load balancer">
            <para role="shortdesc">Bulk-deletes load balancers.</para>
            <para>The remove load balancer function removes the
                specified load balancer and its associated
                configuration from the account. Any and all
                configuration data is immediately purged and is not
                recoverable.</para>
            <para>To bulk-delete load balancers, provide a query
                parameter list of load balancer ids. For example:
                    /loadbalancers?id=<parameter>loadBalancerId</parameter>&amp;id=
                    <parameter>loadBalancerId</parameter> The current
                default limit is ten ids per request. Any and all
                configuration data is immediately purged and is not
                recoverable. By chance one of the items in the list
                cannot be removed due to its current status a
                400:BadRequest is returned along with the ids of the
                ones the system identified as potential failures for
                this request.</para>
            <para>This operation does not return a response
                body.</para>
            <request>
                <param style="query" type="xsd:string" name="id"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>One to ten load balancer
                            IDs. To batch delete load balancers,
                            provide a query parameter list of load
                            balancer IDs. For example:
                                <code>/loadbalancers?id=loadBalancerId&amp;id=
                                loadBalancerId</code>. The current
                            default limit is ten IDs per
                            request.</para></wadl:doc>
                </param>
            </request>
        </wadl:doc>
    </method>
    <!-- errorpage -->
    <method id="showErrorPage" name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show custom error page">
            <para role="shortdesc">Shows the custom error page that is
                configured for a specified load balancer. </para>
            <para>The following table lists the required and optional
                attributes for set custom error page:</para>
            <table xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude" rules="all">
                <caption>Required and optional attributes</caption>
                <thead>
                    <tr>
                        <td colspan="1">Name </td>
                        <td colspan="3">Description</td>
                        <td colspan="1">Required</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">content</td>
                        <td colspan="3">Specifies the HTML content for
                            the custom error page. Must be 65536
                            characters or less. See the request
                            examples in this section for the required
                            XML and JSON formats.</td>
                        <td colspan="1">Yes</td>
                    </tr>
                </tbody>
            </table>
        </wadl:doc>
    </method>

    <method id="setErrorPage" name="PUT">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Set custom error page">
            <para role="shortdesc">Sets a custom error page for a
                specified load balancer. </para>
            <para>The following table lists the required and optional
                attributes for set custom error page:</para>
            <table xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude" rules="all">
                <caption>Required and optional attributes</caption>
                <thead>
                    <tr>
                        <td colspan="1">Name </td>
                        <td colspan="3">Description</td>
                        <td colspan="1">Required</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">content</td>
                        <td colspan="3">Specifies the HTML content for
                            the custom error page. Must be 65536
                            characters or less. See the request
                            examples in this section for the required
                            XML and JSON formats.</td>
                        <td colspan="1">Yes</td>
                    </tr>
                </tbody>
            </table>
        </wadl:doc>
    </method>
    <method id="deleteErrorPage" name="DELETE">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete custom error page">
            <para role="shortdesc">Deletes the custom error page for a
                specified load balancer. </para>
            <para>The following table lists the required and optional
                attributes for set custom error page:</para>
            <table xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:xi="http://www.w3.org/2001/XInclude" rules="all">
                <caption>Required and optional attributes</caption>
                <thead>
                    <tr>
                        <td colspan="1">Name </td>
                        <td colspan="3">Description</td>
                        <td colspan="1">Required</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">content</td>
                        <td colspan="3">Specifies the HTML content for
                            the custom error page. Must be 65536
                            characters or less. See the request
                            examples in this section for the required
                            XML and JSON formats.</td>
                        <td colspan="1">Yes</td>
                    </tr>
                </tbody>
            </table>
        </wadl:doc>
    </method>
</application>
